@media (width >= 501px) {
  html {
    width: 100%;
    /* scroll-padding-top: 100px; */
    overflow: hidden;
    
    #root {
      width: inherit;
      min-inline-size: 501px;
      max-block-size: 100vh;
      grid-template-areas: 
        "header" "header" "header"
        "nav" "main" "aside"
        "footer" "footer" "footer";
      scroll-behavior: smooth;
      overflow-x: hidden;
      overflow-y: auto;
      
      &::-webkit-scrollbar {
        width: 8px;
        background: #fafafa;
        
      }
      
      &::-webkit-scrollbar-thumb {
        scroll-snap-align: start;
        background-color: #FFA07A;
        border-radius: 24px;
      }
      

      .headerBar {
        width: calc(100% - 50px); /* calc(100% - 12px) OR width: 100%; */
        max-width: 100%;
        padding-inline: clamp(1.57rem, 5vw, 10rem); /* OR= clamp(15px, 3.91vw, 100px) */
        padding-block: 0.5rem; /* OR= 1rem 0.5rem */        

        #user-name {
          a { font-size: clamp(1.25rem, 1.26vw, 2rem); }
        }

        .Container-buttons {
          width: clamp(150px, 9.18vw, 230px);

          .toggle-container {
            width: clamp(4rem, 3.51vw, 5.5rem);
            height: clamp(2rem, 1.76vw, 2.75rem);
            padding: clamp(4px, 0.24vw, 6px);

            &.active {
              .toggle-button.active {
                font-size: clamp(0.7em, 0.57vw, 0.88em); /* OR= clamp(0.7em, 0.1vw, 1em) */
                transform: translateX(clamp(2rem,1.75vw, 2.75rem));
              }
            }

            .toggle-button {
              width: clamp(1.5rem, 1.28vw, 2rem);
              height: clamp(1.5rem, 1.28vw, 2rem);
              font-size: clamp(0.88em, 0.64vw, 1em);
            }
          }

          .toggle-container ~ #btn-Menu {
            display: flex;
            align-items: center;
          }
        }
      }

      nav, aside {
        width: clamp(1.57rem, 5vw, 10rem); /* OR= clamp(15px, 3.91vw, 100px) || clamp(25px, 3.91vw, 150px) || clamp(1.57rem, 6.27vw, 10rem)*/
        height: 100%;
      }
    
      main.Content {
        width: 100%;
        min-inline-size: 440px; /* OR= 460px */
        justify-self: stretch;
        
        section {
          height: auto;
          min-height: 96vh; /* OR= 100vh*/

          &#overview {
            .overview-content {
              height: auto;

              .Avatar-Profile {
                height: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;                
          
                .profile-image {
                  aspect-ratio: 1;
                }
              }

              .Avatar-Profile ~ .Container-text {
                h1 {
                  font-size: clamp(2em, 2.51vw, 4em);
                }

                h1 ~ p {
                  font-size: clamp(1.13em, 1.42vw, 2.25em);
                }

                p ~ .content-buttons {
                  margin-top: clamp(0.88rem, 2.51vw, 4rem);

                  a {
                    font-size: clamp(1em, 1.26vw, 2em);
                    outline-width: clamp(2px, 0.24vh, 3.5px); /* OR= clamp(2px, 0.23vh, 3.5px)*/
                  }
                }
              }

              ~ #Container-SocialMedia {
                margin-top: 4rem;

                span {
                  width: clamp(2rem, 1.89vw, 3rem);
                  height: clamp(2rem, 1.89vw, 3rem);

                  a > svg {
                    outline-width: clamp(2px, 0.24vh, 3px);
                  }
                }
              }
            }
          }

          #Introduction-Awards, 
          #Introduction-MyProjects, 
          #Introduction-Blog, 
          #Introduction-Contact {
            .title {
              &::after {
                width: clamp(120px, 5.88vw, 150px);
                left: calc(100% / 2);
              }
            }
          }

          & .divider {height: clamp(2px, 0.1vw, 2.5px);}

          &#Awards {
            #Introduction-Awards {
              padding-bottom: clamp(13.5px, 0.83vw, 21px);
            }

            .divider {
              margin-bottom: 0;
            }
            
            #carousel-container {
              #carousel-Awards {
                width: calc(100% * 5 + 20px * 4);
                gap: 35px;

                .card {
                  min-width: 100%;
                  margin-inline-end: clamp(8rem, 2.5vw, 18rem);
                  aspect-ratio: 16/9;
                }
              }
            } 
          }

          &#WhatIuse {
            #Introduction-WhatIuse { 
              .title {
                &::after {
                  width: clamp(150px, 9.8vw, 250px);
                  left: calc(clamp(150px, 9.8vw, 250px) / 2)
                }
              }
            } 

            #Container-Tools {
              align-content: center;
              justify-items: stretch;
              min-block-size:400px;

              span {
                width: 100%;
                padding: clamp(0.75rem, 0.79vw, 1.25rem);
                column-gap: clamp(0.5rem, 1.6vw, 1rem);
                max-inline-size: 500px;
                border-radius: clamp(0.5rem, 0.87vw, 1rem);
              }
            }
          }

          &#my-projects {
            .Container-carousel {
              width: 100%;
              display: block;
              overflow: hidden;

              .arrow {
                /* width: clamp(32px, 7.2vw, 56px);
                height: clamp(32px, 7.2vw, 56px); */
                position: absolute;
                top: calc(100% / 2 - 25px);
                z-index: 1;

                &:has(.icon-left)  {
                  left: 2.5%;
                }

                &:has(.icon-right) {
                  right: 2.5%;
                }
              }

              .carousel-Cards {
                width: 100%;
                max-width: 100%;
                height: 100%;
                /* display: grid; */
                flex-flow: row nowrap;
                aspect-ratio: 16/5;
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
                scroll-timeline-axis: block;
                overflow-x: auto ;
                transition: scroll-snap-align 8s linear, scroll-timeline-axis 8s linear;

                &::-webkit-scrollbar {
                  height: 0;
                }
                
                .project-card {
                  padding-block: 1rem;
                  justify-content: center;
                  transition: transform .5s;

                  &.active {
                    transform: scale(1);
                    scroll-snap-align: center;
                    scroll-snap-stop: always
                  }

                  &:not(.active) {
                    transform: scale(0.8);
                  }
                }
              }
            }
          }

          &#Blog {
            .divider { margin-block: clamp(0.75rem, 1.26vw, 2rem) }

            .carousel-Blog {

              .card {
                aspect-ratio: 4/9;
                max-block-size: 900px;
              }
            }
          }
          
          &#Contact {
            .divider { margin-block: clamp(1rem, 5vw,2rem);}

            .contact-content {
              padding-block-end: 2rem;
              position: relative;
              display: flex;
              flex-wrap: wrap;

              .info-section {
                height: auto;

                .contact-info {
                  margin-block-start: 2rem;
                  
                  .contact-item {
                    &:nth-child(4) { display: none; }
                    
                    &:not(:last-child) { margin-block-end: 2rem; }
                  }
                }

                .availability { margin-block-start: 2rem; }
              }

            }
          }
        }
      }
      
      footer {
        width: calc(100% - 50px);
      }
    }
  } 

  /* تجربة أقصى عرض 600 أو 768 */
  @media (501px <= width <= 600px) {
    .headerBar {
      border-radius: clamp(0.75rem, 2.67vw, 1rem) !important;

      #btn-Menu {
        width: clamp(2rem, 6vw, 2.25rem);
        height: clamp(2rem, 6vw, 2.25rem);
        max-width: 36px;
        max-height: 36px;
        padding: clamp(4px, 1.34vw, 6px);
        justify-content: center;
        border-radius: clamp(0.5rem, 2vw , 0.75rem);

        svg {
          width: 100%;
          height: 100%;
          max-height: 28px;
          max-width: 28px;
        }
      }
    }

    #overview {
      justify-content: flex-start;

      .overview-content {
        width: 100%;
        height: auto;
        display: block;

        .Avatar-Profile {
          width: 100%;
          height: fit-content;
          margin-block-start: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          max-block-size: 300px;
        
          .profile-image {
            aspect-ratio: 1;
            block-size: auto;
            min-inline-size: 250px;
            max-block-size: 300px;
          }
        }

        .Avatar-Profile ~ .Container-text {
          h1 {
            text-align: center;
          }
          
          h1 ~ p {
            text-align: center;
          }
        }
      }
      
      .content-buttons, #Container-SocialMedia {
        justify-content: center;
      }
    }

    #Introduction-Awards, 
    #Introduction-WhatIuse, 
    #Introduction-MyProjects, 
    #Introduction-Blog, 
    #Introduction-Contact {
      .title { font-size: clamp(1.5em, 4.67vw, 1.75em) }

      .subtitle { font-size: clamp(1em, 3vw, 1.125em) }
    }
    
    #Awards { 
      #carousel-container {
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
        min-block-size: 400px;

        &::after, &::before { width: 5% !important; }

        .carouselAwards {
          max-width: 100%;
          width: 100%;
          height: 100%;
          padding: 4% 5% 1rem;
          gap: 35px;

          .card {
            height: 100%;
            flex-direction: column-reverse;
            border-radius: 20px;

            .card-content {
              max-height: fit-content;
              padding: clamp(1rem, 3.34vw, 1.25rem);

              .rank-icon {
                top: calc(((-432px) + clamp(171.438px, 31.67vw, 190px)) + clamp(1rem, 3.34vw, 1.25rem)); /* OR= calc(clamp(-171.438px, 31.67vw, -190px) +  clamp(1rem, 3.34vw, 1.25rem))*/
                left: clamp(1rem, 3.34vw, 1.25rem);
                width: clamp(2rem, 6vw, 2.25rem);
                height: clamp(2rem, 6vw, 2.25rem);
                margin-bottom: unset;
                color: white;
                font-size: clamp(1em, 3.34vw, 1.25em);
                background-color: #ffffff25;
                text-align: center;
                backdrop-filter: blur(15px);
                -webkit-backdrop-filter: blur(15px);
                align-content: center;
                position: absolute;
                border-radius: 8px;
                z-index: 1;
              }

              .Event-Name {
                font-size: clamp(1em, 3vw, 1.125em);
              }

              .Description-Event {
                max-height: 80px;
                font-size: clamp(0.875em, 2.67vw, 1em);
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                overflow: hidden;
              }

              .Event-date {
                display: none;
                font-size: clamp(0.5rem, 2.4vw, 0.75rem);
              }
            }

            .card-picture {
              min-height: 50%;
              max-width: inherit;
              width: 100%;
              height: 100%;
              background-position: center;
              background-size: cover;
              background-image: url(../assests/image/9.jpeg);
              background-repeat: no-repeat;
              background-clip: border-box;
              background-origin: border-box;

              &:hover {
                max-width: 100%;
                transform: scaleY(1.05);
              }
            }
          }
        }
      }
    }

    #WhatIuse {
      #Container-Tools {
        grid-template-columns: repeat(auto-fit, minmax(clamp(150px, 42.5vw, 255px), 1fr)) !important;
        gap: clamp(0.5rem, 2.67vw, 1rem);

        span {
          padding: clamp(0.75rem, 2.67vw, 1rem);

          i {
            inline-size: auto;
            min-inline-size: 32px;
            max-inline-size: 36px;
            width: clamp(2rem, 7.2vw, 2.25rem);
            height: clamp(2rem, 7.2vw, 2.25rem);
            padding: 0.5rem;
          }

          .Content-Define {
            .title {font-size: clamp(0.875rem, 2.67vw, 1rem);}

            p { 
              width: max-content;
              font-size: clamp(0.75rem, 2.34vw, 0.875rem);
            }
          }
        }
      }
    }

    #my-projects {
      .Container-carousel {
        .carousel-Cards {
          block-size: auto;
          min-block-size: 250px;
          max-block-size: 300px;
          
          .project-card {
            flex: 0 0 100%;

            img {
              width: clamp(135px, 25vw, 150px);
            }

            h3 { font-size: clamp(1em, 3.34vw, 1.25em) }
          }
        }
      }

      .description {
        min-height: 180px;
        max-height: 200px;
        margin-top: 1rem;

        p { 
          font-size: clamp(0.875em, 2.67vw, 1em); 

          .highlight {
            font-size: clamp(1em, 3vw, 1.125em);
          }
        }
      }
    }

    #Blog {
      .carousel-Blog {
        aspect-ratio: 9/9;
        &::scroll-button(right), &::scroll-button(left) {
          width: clamp(2rem, 6vw, 2.25rem);
          height: clamp(2rem, 6vw, 2.25rem);
          font-size: clamp(1.25em, 4vw, 1.5em);
          border-radius: clamp(2.25rem, 2.51vw, 4rem);
        }
      }
    }

    #Contact {
      .divider { margin-block: clamp(1rem, 5vw,2rem);}

      .contact-content {
        flex-direction: column-reverse;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .info-section {
          width: 100%;
          min-width: 300px; /* 250px if grater than width=600px */
          padding: clamp(2rem, 6.1vw, 2.25rem);
          height: fit-content;
          flex: 1 1 ;

          &::before, &::after {
            width: clamp(200px, 41.81vw , 250px);
            height: clamp(200px, 41.81vw , 250px);
          }

          .section-title {
            font-size: clamp(1.25em, 4.1vw, 1.5em); /* OR= clamp(1.125em, 5vw, 1.25em) */

            &::after {
              left: 0;
              bottom: -4px;
              width: clamp(2.5rem, 8.7vw, 3.25rem);
            }
          }

          .contact-info {                  
            .contact-item {
              padding: clamp(0.75rem, 2.67vw, 1rem);
              column-gap: clamp(0.5rem, 2vw, 0.75rem); /* OR=  clamp(0.5rem, 5vw, 1rem) */

              i {
                max-width: 44px;
                max-height: 44px;
                width: clamp(2rem, 7.34vw, 2.75rem);
                height: clamp(2rem, 7.34vw, 2.75rem);
              }

              .contact-details {
                h3 {
                  padding-bottom: 5px;
                  margin-block-end: unset;
                  font-size: clamp(1em, 3vw, 1.125em);
                }

                p { font-size: clamp(0.875em, 2.67vw, 1em); }
              }
            }
          }

          .availability {
            padding: clamp(0.75rem, 2.67vw, 1rem);

            h4 {
              padding-block-end: 0.5rem;
              font-size: clamp(1em, 3.34vw, 1.25em);
              line-height: 1.5;
            }

            p { font-size: clamp(0.875em, 3vw, 1.125em); }
          }
        }

        #contact-form {
          width: 100%;
          padding: clamp(2rem, 6.1vw, 2.25rem);
          
          legend { font-size: clamp(1.25em, 4vw, 1.5em); }

          label {font-size: 1rem;}

          button {
            width: unset; 
            margin-inline: unset;
            padding-block: 0.875rem;
            font-size: clamp(0.875em, 2.67vw, 1em);
          }
        }
      }
    }

    footer {
      font-size: clamp(0.875em, 2.67vw, 1em);
      padding-block: clamp(0.5rem, 2vw, 0.75rem) clamp(0.25rem, 1.34vw, 0.5rem);
      border-radius: 0.75rem 0.75rem 0 0;
    }
  }

  @media (width >= 601px) {
    .headerBar {
      top: clamp(5px, 6.67vw, 10px);
      max-height: 80px;
      padding-block: clamp(0.5rem, 0.63vw, 1rem) !important;    /* clamp(1rem, 0.79vw, 1.25rem)*/
      border-radius: clamp(1rem, 0.79vw, 1.25rem) !important;   /* clamp(0.75rem, 2vw , 1rem); */

      #btn-Menu {
        width: clamp(2.5rem, 2.04vw, 3.25rem);
        height: clamp(2.5rem, 2.04vw, 3.25rem);
        max-width: 52px;
        max-height: 52px; 
        padding: 0.5rem;
        justify-content: center;
        border-radius: 0.75rem;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    #overview {
      justify-content: space-evenly;

      .overview-content {
        width: 100%;
        height: auto;
        flex-wrap: nowrap;
        column-gap: clamp(2rem, 6.25vw, 10rem); /* OR= clamp(2.5rem, 6.25vw, 10rem) */
        
        .Avatar-Profile {
          height: auto;
          min-width: 175px;
          background-color: #FFA07A;
          border-radius: 50rem;
          
          .profile-image {
            width: clamp(250px, 19.54vw, 500px);
            background-color: unset;
            background-size: cover;
            background-position: bottom;
            image-rendering: auto;
            background-position-y: calc(100% + 22px);
            image-orientation: from-image;
            background-image: url(../assests/image/logo.png);
            background-repeat: no-repeat;
            background-origin: border-box;
            background-clip: border-box;
            clip-path: none;
          }
        }
      }

      .content-buttons, #Container-SocialMedia {
        gap: clamp(2.5rem, 2.5vw, 4rem) 
      }
    }

    #Introduction-Awards, 
    #Introduction-WhatIuse, 
    #Introduction-MyProjects, 
    #Introduction-Blog, 
    #Introduction-Contact {
      .title {
        font-size: clamp(1.75em, 2.2vw, 3.5em); /* OR= clamp(1.75em, 1.89vw, 3em) */

        ~ p {
          font-size: clamp(1.125em, 1.26vw, 2em); /* OR= clamp(1.125em, 1.1vw, 1.75em) */
        }
      }
    }

    #Awards {
      justify-content: flex-start;

      #carousel-container {
        min-width: 532.91px;
        aspect-ratio: 21.5 / 9;
        display: block;
        align-content: center;
        block-size: auto;
        min-block-size: 462px; /* OR= 444.46px*/
        overflow: unset;
        
        &::before, &::after { width: 5%; }
        
        .carouselAwards {
          /* width: calc(100% * 5 + 20px * 4); */
          width: 100%;
          max-width: 100%;
          height: 100%;
          padding: 1.5% 5% 1%;
          gap: 4rem;
          anchor-name: --carouselAwards;
          scroll-snap-type: x mandatory;
          scroll-behavior: smooth;
          overflow: hidden;

          &::-webkit-scrollbar {
            display: none;
          }

          &::scroll-button(right), &::scroll-button(left) {
            content: ">";
            cursor: pointer;
            width: clamp(2.5rem, 2.51vw, 4rem);
            height: clamp(2.5rem, 2.51vw, 4rem);
            font-size: clamp(1em, 1.73vw, 2.75em);
            color: #6C7A89;
            background-color: white;
            position: fixed;
            position-anchor: --carouselAwards;
            position-area: right center;
            translate: -50%;
            border: none;
            border-radius: 50%;
            box-shadow: 0.1px 0.1px 8px #6c7a8950;
            z-index: 2;
          }

          &::scroll-button(left) {
            content: "<";
            position-area: left center;
            translate: 50%;
          }

          &::scroll-button(right):disabled, &::scroll-button(left):disabled {
            cursor: auto;
            opacity: 0.5;
          }

          .card {
            width: 100%;
            height: 100%;
            max-height: 100%;
            /* margin-inline: 5%; */
            flex: 0 0 100%;
            aspect-ratio: 16/9;
            border-radius: clamp(1.25rem, 0.95vw, 1.5rem);
            scroll-snap-align: start center;
            inline-size: auto;
            /* min-inline-size: 520px; */
            

            .card-content {
              min-width: 250px;
              padding: clamp(1.25rem, 2.5vw, 4rem);
              flex: unset;

              .rank-icon {
                width: clamp(2.25rem, 3.14vw, 5rem);
                min-width: 36px;
                max-width: 80px;
                padding: clamp(0.25rem, 0.32vw, 0.5rem);
                margin-bottom: clamp(1rem, 1.73vw, 2.75rem);
                aspect-ratio: 1;
                font-size: clamp(1.25em, 1.88vw, 3em);
                flex-grow: 0;
                position: relative;
                border-radius: clamp(8px, 0.63vw, 16px);
              }

              .Event-Name { 
                margin-bottom: clamp(1rem, 0.95vw, 1.5rem);
                font-size: clamp(1.125em, 1.57vw, 2.5em);
                line-height: 1.6;
              }

              .Description-Event {
                margin-bottom: unset;
                font-size: clamp(1em, 1.42vw, 2.25em);
                line-height: 1.5;
              }

              .stats {
                margin-block: clamp(0.75rem, 1.1vw, 1.75rem);
                grid-area: clamp;

                .stat-item {
                  padding: clamp(0.5rem, 0.63vw, 1rem) clamp(0.75rem, 0.95vw, 1.5rem);
                  font-size: clamp(0.75em, 0.95vw, 1.5em);
                  line-height: 1;
                  gap: clamp(4px, 0.32vw, 8px);
                  border-radius: clamp(0.75rem, 0.63vw, 1rem);
                }
              }

              .Event-date {
                padding: clamp(0.5rem, 0.63vw, 1rem) clamp(1rem, 0.95vw, 1.5rem);
                margin-top: unset;
                font-size: clamp(0.75em, 0.95vw, 1.5em);
                line-height: 1.5;
                border-radius: clamp(0.75rem, 0.63vw, 1rem);
              }
            }

            .card-picture {
              min-width: 45%;
            }
          }
        }
      }
    }

    #WhatIuse {
      #Container-Tools {
        /* max-height: 75vh; */
        grid-template-columns: repeat(auto-fit, minmax(clamp(255px, 19.6vw, 500px), 1fr));
        gap: clamp(1rem, 2.67vw, 3rem);
        block-size: auto;
        min-block-size: 65vh;
        max-block-size: 75vh;

        span {
          padding: clamp(1rem, 2.67vw, 1.5rem);

          i {
            min-width: 44px;
            max-width: 60px;
            width: clamp(2.75rem, 2.36vw, 3.75rem);
            height: clamp(2.75rem, 2.36vw, 3.75rem);
            padding: 0.5rem;
            border-radius: clamp(0.25rem, 0.44vw, 0.5rem);

            svg {
              max-width: 36px;
              max-height: 36px;
            }
          }

          .Content-Define {
            max-height: 60px;
            .title {
              font-size: clamp(1em, 0.95vw, 1.5em);
              line-height: 1.5;
            }

            p { 
              font-size: clamp(0.875em, 0.79vw, 1.25em);
              text-wrap: nowrap;
              line-height: 1.2;
            }
          }
        }
      }
    }

    #my-projects {
      .Container-carousel {
        max-height: 600px;
        padding-block: 1rem;

        .arrow {
          width: clamp(2.5rem, 2.84vw, 4.5rem);
          height: clamp(2.5rem, 2.84vw, 4.5rem);

          & svg {
            width: 100%;
            height: 100%;
            padding: 8px 4px;
          }
        }

        .carousel-Cards {
          /* max-height: 580px; */
          /* padding-inline: clamp( 157.203px, , 1144px); */
          padding-inline: clamp( 9.8251875rem, 44.52vw, 71rem);
          block-size: auto;
          min-block-size: 250px;
          max-block-size: 600px;
  
          .project-card {
            /* flex: 0 0 450px; */
            aspect-ratio: 1;

            img {
              width: clamp(150px, 9.8vw, 250px);
              margin-bottom: clamp(25px, 2.36vw, 60px);
            }

            h3 { font-size: clamp(1.25em, 1.26vw, 2em) }
          }
        }
      }

      .description {
        max-width: 100%;
        min-height: 200px;
        block-size: auto;
        min-block-size: 200px;
        max-block-size: 400px;
        margin-top: 1rem;
        text-align: left;
        justify-items: center;

        p { 
          width: 100%;
          max-width: 90%;
          font-size: clamp(1em, 1.1vw, 1.75em); 

          .highlight { font-size: clamp(1em, 1.27vw, 1.15em); }
        }
      }
    }

    #Blog {
      .carousel-Blog {
        aspect-ratio: 21 / 9;

        &::scroll-button(right), &::scroll-button(left) {
          width: clamp(2.75rem, 2.51vw, 4rem);
          height: clamp(2.75rem, 2.51vw, 4rem);
          font-size: clamp(1.5em, 1.73vw, 2.75em);
          border-radius: clamp(2.25rem, 2.51vw, 4rem);
        }
      }
    }

    #Contact {
      .contact-content {
        padding-block-end: unset;
        justify-content: space-between;
        gap: unset;

        .info-section {
          width: calc(100% / 2 - 32px);
          min-width: 250px;
          padding: clamp(2rem, 2.51vw, 4rem);  /*  clamp(2rem, 3.14vw, 4rem) OR start 2rem or 2.25rem into 3rem maybe added also 0.5rem */
          flex: unset;
          border-radius: clamp(1.25rem, 1.42vw, 2.25rem);

          .section-title {
            padding-block-end: 4px;
            font-size: clamp(1.5em, 1.26vw, 2em);

            &::after {
              left: 0;
              width: clamp(3rem, 2.51vw, 4rem);
            }
          }

          .contact-info {
            .contact-item {
              padding: clamp(1rem, 0.95vw, 1.5rem);
              flex-wrap: wrap;
              gap: clamp(0.75rem, 0.95vw, 1.5rem);
              border-radius: clamp(0.75rem, 0.63vw, 1rem);

              i {
                width: clamp(2.5rem, 2.98vw, 4.75rem);
                height: clamp(2.5rem, 2.98vw, 4.75rem);
              }

              .contact-details {
                h3 {
                  margin-block-end: unset;
                  padding-block-end: clamp(0.25rem, 0.32vw, 0.5rem);
                  font-size: clamp(1.125em, 1.1vw, 1.75em);
                }

                p { font-size: clamp(1em, 0.95vw, 1.5em);}
                a { white-space: nowrap; }
              }
            }
          }

          .availability {
            padding: clamp(1rem, 0.95vw, 1.5rem);

            h4 {
              padding-block-end: clamp(0.5rem, 0.48vw, 0.75rem);
              font-size: clamp(1.25em, 1.1vw, 1.75em);
              line-height: 1.5;
            }

            p { font-size: clamp(1.125em, 0.95vw, 1.5em); }
          }
        }
  
        #contact-form {
          width: calc(100% / 2.5);
          min-width: 250px;
          padding: clamp(2rem, 2.51vw, 4rem); 
          gap: clamp(2rem, 2.04vw, 3.25rem);
          border-radius: clamp(1.25rem, 1.42vw, 2.25rem);

          legend {
            font-size: clamp(1.5em, 1.26vw, 2em);
          }

          .input-container, 
          .select-option-container,
          .message-Container {
            border-width: clamp(2px, 0.12vw, 3px);
            border-radius: clamp(0.375rem, 0.32vw, 0.5rem);
          }

          label {
            top: -20px;
            left: clamp(0.75rem, 0.48vw, 0.5rem);
            padding-inline: clamp(0.5rem, 0.48vw, 0.75rem);
            font-size: clamp(1em, 0.79vw, 1.25em);
          }
          
          input, select, textarea {
            padding-block: clamp(0.5rem, 0.48vw, 0.75rem);
            font-size: clamp(0.875em, 0.71vw, 1.125em);
            
            &:not(input, select) {
              padding-block: clamp(0.5rem, 0.63vw, 1rem);
            }

            &:not(select)::placeholder {
              font-size: clamp(0.875em, 0.71vw, 1.125em);
            }
          }

          button {
            padding-block: clamp(0.75rem, 0.71vw, 1.125rem);
            font-size: clamp(1em, 0.95vw, 1.5em);
            border-radius: clamp(0.5rem, 0.48vw, 0.75rem);
          }
        }
      }
    }

    footer {
      height: unset;
      padding-block: clamp(0.75rem, 0.63vw, 1rem) clamp(0.5rem, 0.48vw, 0.75rem);
      font-size: clamp(1em, 0.95vw, 1.5em);
      border-radius: clamp(0.75rem, 0.79vw, 1.25rem) clamp(0.75rem, 0.79vw, 1.25rem) 0 0;
    }
  }
  
  @media (height <= 700px) {
    section {
      min-height: 93vh !important;

      &#Awards {
        justify-content: flex-start;
      }

      &#WhatIuse {
        justify-content: flex-start;

        #Container-Tools {
          max-height: 65vh !important;
          aspect-ratio: 9 / 4.25;
          block-size: auto;
          min-block-size: 415px !important;
          max-block-size: 500px;
        }
      }

      &#Contact {
        .divider { margin-block: 1rem !important;}
      }
    }
  
    @media (501px <= width <= 600px) {
      #Awards {
        #carousel-container { 
          min-block-size: 470px !important;  

          .carouselAwards {
            overflow-x: auto;
            scroll-behavior: smooth;
  
            &::-webkit-scrollbar {
              height: 0;
            }
          }
        }
      }

      #WhatIuse {
        #Container-Tools {
          align-content: unset !important;
        }
      }

      #my-projects {
        .Container-carousel {
          aspect-ratio: 16/9;
          max-block-size: 250px;

          .arrow {
            width: clamp(32px, 7.2vw, 56px) !important;
            height: clamp(32px, 7.2vw, 56px) !important;
          }

          .carousel-Cards { 
            max-block-size: 250px; 
          }
        }
      }

      #Blog {
        justify-content: flex-start;

        .carousel-Blog {
          min-block-size: 400px;
          max-block-size: 450px !important;
        }
      }
    
      textarea { height: 100% !important; min-height: 100px !important;}
    }
  
    @media (width >= 601px) {
      #overview {
        .overview-content {
          padding-top: 4rem;

          ~ #Container-SocialMedia {
            margin-top: 0rem !important;
          }
        }
      }

      #Awards {        
        #carousel-container {
          aspect-ratio: 21 / 9 !important;
          block-size: auto;
          max-block-size: 500px !important;
          align-content: center;

          &::before, &::after { width: 1.5%; }
          
          .carouselAwards {
            /* padding-block: clamp(1rem, 0.63vw, 1.25rem) !important; */
            padding: clamp(1rem, 0.63vw, 1.25rem)  2.5% ;
            gap: 4rem;

            &::scroll-button(right), &::scroll-button(left) {
              width: clamp(2.5rem, 2.04vw, 3.25rem);
              height: clamp(2.5rem, 2.04vw, 3.25rem);
              font-size: clamp(1em, 1.41vw, 2.25em);
            }

            .card {
              flex: 0 0 100%;
              margin-inline: 5%;
              inline-size: auto;
              min-inline-size: 520px;
              max-inline-size: 1100px;
            }
          }
        }
      }

      #my-projects {
        .Container-carousel {
          max-height: 300px;
          aspect-ratio: 16/9;
          /* min-block-size: 260px; */
          min-block-size: 300px;
          
          .carousel-Cards { 
            padding-inline: clamp(133.219px, 34.96vw, 474.75px);

            column-gap: 5rem;
            min-block-size: 250px;
            max-block-size: 300px;

            .project-card {
              aspect-ratio: 1;
            }
          }
        }
        
        .description {
          max-width: 100%;
          height: 175px;
          margin-block: 0.75rem 0;
          text-align: left;
          justify-items: center;

          p {
            max-width: 1000px;

            &:last-child {
              width: 100%;
              max-width: 1000px;
            }
          }
        }
      }

      #Blog {
        justify-content: flex-start;

        .carousel-Blog {
          min-block-size: 400px;
          max-block-size: 450px !important;
        }
      }
    }
  }
}