@media (width <= 500px) {
    html {
        width: 100vw;
        overflow: hidden;
    }
    
    #root {
        width: inherit;
        min-height: 100dvh;
        aspect-ratio: 1;
        max-inline-size: 500px;
        grid-template-areas:
            "header" 
            "aside"
            "main" 
            "aside"
            "footer";
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 0;
        }
    

            .headerBar {
            width: calc(100vw - 12px);
            padding: 0.5rem calc(clamp(8px, 7vw, 25px) - 5px);
            border-radius: clamp(8px, 3.2vw, 16px);            h2#user-name {
                a {
                    font-size: clamp(0.9rem, 4vw, 1.25rem);
                }
            } 

            .Container-buttons {
                width: clamp(80px, 18vw + 4.3rem, 150px);

                .toggle-container {
                    width: clamp(2rem, 15vw, 4rem);
                    height: fit-content;
                    padding: 0.25rem;
                
                    & .toggle-button {
                        width: clamp(1rem, 5.2vw, 1.5rem);
                        height: clamp(1rem, 5.2vw, 1.5rem);
                        padding-inline: 4px;
                        font-size: clamp(8px, 2.5vw, 12px);
                        transition: transform 0.3s ease-in-out;

                        &.active {
                            color: #FFA07A;
                            font-size: 10px;
                            transform: translateX(clamp(1rem, 15vw, 1.98rem));
                        }
                    }
                }
                
                .toggle-container ~ #btn-Menu {
                    padding: clamp(4px, 1.2vw , 6px); /* OR= 4px */
                    display: flex;
                    align-items: center;
                    border-radius: clamp(4px, 1.6vw , 8px); /* OR= clamp(4px, 1.7vw , 8px) */
                
                    svg {
                        width: clamp(16px, 4vw, 20px);
                        height: clamp(16px, 4vw, 20px);
                    }
                }
            }
        }

        nav, aside {
            width: auto;
        }
    
        main {
            width: inherit;
            padding: 0 clamp(8px, 7vw, 25px) clamp(8px, 7vw, 25px);

            section {
                width: 100%;
                height: max-content;
                min-height: 100vh;
                block-size: auto;

                &:not(:first-child, :last-child) {
                    padding-block: 35px 0;
                }

                &:first-child {
                    min-block-size: 500px;
                    justify-content: flex-start;
                }

                &:nth-child(2) {  padding-block-start: 0; max-block-size: 662px;}

                &:nth-child(3) { 
                    block-size: auto;
                    max-block-size: 664px;
                    min-block-size: 585px;
                    /* padding-block: 0 15px; 
                    margin-block: 0 35px;*/
                    justify-content: space-around;
                }

                &:nth-child(4) { padding-block-start: 0 !important; }
                
                .overview-content {
                    height: fit-content;
                    text-align: center;
                    display: block;
                    gap: 0;
        
                    & .Avatar-Profile {
                        width: 100%;
                        margin: clamp(1rem, 8vw, 2rem) 0;
                        height: fit-content; 
                        min-block-size: 100px;
                        max-block-size: 265px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        clip-path: none;
        
                        & .profile-image {
                            width: clamp(150px, 35vw + 8.5rem, 250px); /* OR= clamp(150px, 40vw, 200px) */
                            min-block-size: 100px;
                            max-block-size: 300px; /* OR= 250px */
                            position: relative;
                            aspect-ratio: 1;
                            background-color: #FFA07A;
                        }
                    }
                    
                    & .Container-text {
                        display: inline-block;
        
                        & h1 {
                            font-size: clamp(1.25em, 6.4vw, 2em);
                        }
        
                        & h1 ~ p {
                            font-size: clamp(0.75em, 3.6vw, 1.13em);
                        }
        
                        & p ~ .content-buttons {
                            width: 100%;
                            justify-content: center;
        
                            & a {
                                max-height: 40px;
                                padding: clamp(8px, 2.6vw, 12px) clamp(12px, 4.3vw, 20px);
                                font-size: clamp(12px, 3.5vw, 16px);
                            }
                        }
                    }
                }
                
                div#Container-SocialMedia {
                    margin-block-start: 3rem;
                    flex-direction: row;
                    justify-content: center;

                    span {
                        width: clamp(1.5rem, 6.4vw, 2rem);
                        height: clamp(1.5rem, 6.4vw, 2rem);

                    }
                }

                #Introduction-Awards, 
                #Introduction-MyProjects,
                #Introduction-Blog,
                #Introduction-Contact {
                    padding-block: 1.3rem;
                    padding-inline: 0;

                    .title {
                        font-size: clamp(1.25rem, 4vw + 0.5rem, 1.5rem);

                        &::after {
                            left: calc(100% / 2);
                            bottom: -5px;
                            width: clamp(65px, 24vw, 120px);
                            height: 3px;
                        }
                    }

                    p {
                        font-size: clamp(0.75rem, 3vw + 0.3rem, 1rem);
                    }
                }

                &#Awards {
                    justify-content: center;

                    #Introduction-Awards { padding-block-start: 0; }
                                        
                    #carousel-container {
                        max-width: 500px;
                        min-width: 170px;
                        height: 100%;
                        min-block-size: 450px;
                        align-content: center;
                        
                        &::before { left: -25px; width: 8%; }
                        
                        &::after { right: -25px; width: 8%; }
                                            
                        .carouselAwards {
                            width: calc(100% * 5 + 20px * 4);
                            margin-inline: 1rem;
                            inline-size: auto;
                            min-inline-size: 170px;
                            max-inline-size: 400px;
                            gap: 35px;
                            animation: slide 20s infinite alternate;
                                                
                            .card {
                                height: fit-content;
                                flex-direction: column-reverse;
                                aspect-ratio: 1;
                                block-size: auto;
                                min-block-size: 350px;
                                max-block-size: 400px;
                                max-inline-size: 400px;
                                transition: opacity 1s;
                                                    
                                &:hover {
                                    .card-picture {
                                        transform: scaleY(1.1)
                                    }
                                }
                        
                                .card-content {
                                    height: inherit;
                                    padding: clamp(16px, 3vw + 0.63rem, 24px);
                                                        
                                    .rank-icon {
                                        position: absolute;
                                        /* top: -75%; */
                                        top: calc(((-400px) + 200px) + clamp(16px, 3vw + 0.63rem, 24px)); /* OR= calc(clamp(-171.438px, 31.67vw, -190px) +  clamp(1rem, 3.34vw, 1.25rem))*/
                                        left: 15px;
                                        width: 2rem;
                                        height: 2rem;
                                        color: white;
                                        z-index: 1;
                                    }
                        
                                    .Event-Name {
                                        font-size: clamp(0.875em, 3.2vw, 1em);
                                    }
                        
                                    .Description-Event {
                                        max-height: 85px;
                                        font-size: clamp(0.75em, 2.8vw, 0.875em);
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        -webkit-box-orient: vertical;
                                        -webkit-line-clamp: 3;
                                        line-clamp: 3;
                                        overflow: hidden;
                                    }
                        
                                    .stats {
                                        gap: clamp(6px, 2.2vw, 10px);
                                        justify-content: center;
                        
                                        .stat-item {
                                            width: calc(100% / 3 - 8px);
                                            padding: 8px;
                                            white-space: nowrap;
                                            text-align: center;
                                            border-radius: 4px;
                                            justify-content: center;
                        
                                            /* i {} */
                        
                                            i ~ span {
                                                font-size: clamp(0.85em, 0.63vw, 1.25em);
                                            }
                                        }
                                    }
                        
                                    .Event-date {
                                        display: none;
                                        font-size: clamp(0.5rem, 2.4vw, 0.75rem);
                                    }
                                }
                        
                                .card-picture {
                                    min-height: 50%;
                                    aspect-ratio: 21/9;
                        
                                    i {
                                        block-size: auto;
                                        min-block-size: 150px;
                                        max-block-size: 200px;
                                        position: relative;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                }
                
                &#WhatIuse {
                    #Introduction-WhatIuse {
                        padding-block-start: 0;
                        padding-inline: 0;
    
                        .title {
                            font-size: clamp(1.2rem, 4.8vw,  1.5rem);
    
                            &::after {
                                left: clamp(45.8px, 15vw, 75px) !important;
                                bottom: -5px;
                                width: clamp(90px, 30vw, 150px) !important;
                            }
                        }
    
                        p { font-size: clamp(0.75rem, 3vw + 0.3rem, 1rem) }
                    }
    
                    #Container-Tools {
                        margin: 0;
                        padding-block: 0;
                        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
                        gap: clamp(0.5rem, 3.2vw, 1rem);
    
                        span {
                            padding: clamp(8px, 2.6vw, 12px);
                            column-gap: clamp(4px, 1.6vw, 8px);
                            min-inline-size: 155px;
                            max-inline-size: 350px;
                            border-radius: 8px;
    
                            i { 
                                width: clamp(1.5rem, 7.2vw, 2.25rem);
                                height: clamp(1.5rem, 7.2vw, 2.25rem);
                                max-width: 36px;
                                /* min-width: 16px; */
                                min-block-size: 24px;
                                margin-right: 0 !important;
                                padding: clamp(3px, 1vw, 5px) !important;
                                display: flex;
                                justify-content: center;
                                /* align-items: center; */
    
                                /* svg {
                                    width: 100%;
                                    height: 100%;
    
                                    path {
                                        width: inherit;
                                        height: inherit;
                                    }
                                } */
                            }
    
                            i ~ .Content-Define {
                                width: calc(100% - (clamp(1.5rem, 7.2vw, 2.25rem) + clamp(4px, 1.6vw, 8px)));
    
                                .title {
                                    font-size: clamp(0.75rem, 2.5vw + 0.12rem, 0.875rem);
                                }
    
                                p {
                                    width: 100%;
                                    font-size: clamp(0.5rem, 2.4vw , 0.75rem);
                                    line-height: 1;
                                    /* white-space: nowrap; */
                                }
                            }
                        }
                    }
                }

                #Introduction-MyProjects {
                    padding-block-start: 0;
                    position: relative;

                    .title {
                        &::after{
                            bottom: -8px;
                            width: clamp(70px, 20vw, 100px);
                            height: 3px;
                        }
                    }
                }

                #Introduction-MyProjects ~ .Container-carousel {
                    width: 100%;
                    position: relative;
                    block-size: 250px;
                    justify-content: unset;
                    flex-direction: row;


                    .arrow {
                        width: clamp(24px, 7.2vw, 36px);
                        height: clamp(24px, 7.2vw, 36px);
                        position: absolute;
                        z-index: 1;

                        svg {
                            width: inherit;
                            height: inherit;
                        }

                        &:has(.icon-left)  {
                            left: 5px;
                        }

                        &:has(.icon-right) {
                            right: 5px;

                        }
                    }
                    

                    .carousel-Cards {
                        justify-content: normal;
                        align-items: normal;
                        overflow: hidden;

                        &::before {
                            left: 0;
                            background: linear-gradient(to right, #fafafa, #ffffff00);
                        }

                        &::after {
                            right: 0;
                            background: linear-gradient(to left, #fafafa, #ffffff00);
                        }

                        &::before,
                        &::after {
                            content: "";
                            top: 0;
                            width: 5%;
                            height: 100%;
                            position: absolute;
                            pointer-events: none;
                            z-index: 1;
                        }

                        .project-card {
                            width: 100%;
                            max-width: 550px;
                            aspect-ratio: 2;
                            transform: translateY(0);
                            max-block-size: 250px; 
                            justify-content: center;
                            transition: all .8s ease-in-out;

                            &.active {
                                order: 1;
                            }

                            &:not(.active ) {
                                order: 5;
                                transform: scale(0.8)
                            }

                            h3 {
                                font-size: clamp(0.75rem, 3.2vw, 1.15rem);
                            }

                            img, h3 {
                                cursor: pointer;
                                display: inline-block;
                                /* transform: scale(0.7); */
                            }
                        }
                        
                    }
                }

                .Container-carousel ~ .description {
                    margin-block: 1.5rem  0;
                    height: auto;
                    line-height: normal;

                    p{
                        line-height: 1.5;
                        font-size: clamp(0.75rem, 2.8vw, 0.875rem);

                        &:first-child {
                            margin-top: 2.15rem !important;
                        }

                        .highlight {
                            font-size: clamp(0.875rem, 3.2vw, 1rem);
                        }
                    }
                }

                #Introduction-Blog {
                    .title::after {
                        left: 45% !important;
                        width: clamp(80px, 24vw, 120px) !important;
                    }
                }

                .carousel-Blog {
                    aspect-ratio: 21/21;

                    &::scroll-button(right), &::scroll-button(left) {
                        width: clamp(1.25rem, 6.51vw, 2rem);
                        height: clamp(1.25rem, 6.51vw, 2rem);
                        font-size: clamp(0.75em, 4.07vw, 1.25em);
                        border-radius: clamp(2.25rem, 2.51vw, 4rem);
                    }
                }

                #Introduction-Contact ~ .divider {
                    margin-block-end: 1.5rem;
                }

                .divider ~ .contact-content{
                    padding: 0;
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 2rem;

                    .info-section {
                        width: 100%;
                        min-width: 140px;
                        min-inline-size: 172px;
                        padding: clamp(1rem, 7.2vw , 2.25rem);
                        background: linear-gradient(135deg, #8A99A7 0%, #6C7A89 100%);
                        flex: none;
                        border-radius: 20px;

                        &::before {
                            width: clamp(110px, 40vw , 200px);
                            height: clamp(110px, 40vw , 200px);
                        }

                        &::after {
                            width: clamp(160px, 50vw , 250px);
                            height: clamp(160px, 50vw , 250px);
                        }

                        .floating-element {
                            width: clamp(50px, 20vw, 100px);
                            height: clamp(50px, 20vw, 100px);
                            border-radius: clamp(12px, 4vw, 20px);
                        }

                        h2.section-title {
                            padding-bottom: 8px;
                            font-size: clamp(1rem, 5.6vw, 1.75rem);

                            &::after{
                                left: 0;
                                width: clamp(40px, 16vw, 80px);
                            }
                        }

                        .contact-info {
                            margin-top: clamp(20px, 6.4vw, 32px);

                            .contact-item {
                                padding: clamp(0.75rem, 3.2vw, 1rem);
                                margin-bottom: clamp(20px, 6.4vw, 32px);
                                column-gap: clamp(0.5rem, 3.2vw, 1rem);
                                border-radius: 1rem;
    
                                &:nth-child(4) {
                                    display: none;
                                }
    
                                .contact-icon {
                                    width: clamp(2.25rem, 12.8vw, 4rem);
                                    height: clamp(2.25rem, 12.8vw, 4rem);
                                    margin-right: 0;
                                }
    
                                .contact-icon ~ .contact-details {
                                    h3 {
                                        font-size: clamp(0.75rem, 2.5vw + 0.22rem, 1rem);
    
                                    }
                                    
                                    p {
                                        a {
                                            color: rgba(255, 255, 255, 0.9);
                                            font-size: clamp(0.55em, 2.88vw, 0.9em);
                                            white-space: nowrap;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .availability {
                            padding: clamp(0.75rem, 3.2vw, 1rem);

                            h4 {
                                font-size: clamp(0.75rem, 2.5vw + 0.22rem, 1rem);
                            }

                            h4 ~ p {
                                font-size: clamp(0.55em, 2.88vw, 0.9em);
                                line-height: 1.5;
                            }

                        }
                    }

                    #contact-form{
                        width: 100%;
                        padding-inline: clamp(1.25rem, 6.4vw, 2rem);
                        padding-block: clamp(1.5rem, 6.4vw, 2rem);
                        gap:clamp(1.5rem, 6.4vw, 2rem) ;

                        legend {
                            font-size: clamp(1rem, 4.07vw, 1.25rem);
                        }

                        .message-Container,.input-container {
                            border-radius: 0.5rem;

                            label {
                                left: clamp(8px, 3vw, 12px);
                                font-size: clamp(0.9rem, 3.2vw, 1rem);
                            }

                            input{
                                padding-block: 10px;
                            }

                            input, textarea {
                                width: 100%;
                                font-size: clamp(12px, 1vw + 0.57rem, 14px);

                                &::placeholder {
                                    font-size: clamp(0.75rem, 2.8vw, 0.9rem);
                                }
                            }
                        }

                        .select-option-container {

                            select {
                                font-size: clamp(12px, 1vw + 0.57rem, 14px);
                            }
                        }

                        button {
                            width: 100%;
                            /* background: linear-gradient(135deg, #6C7A89 0%, #8A99A7 100%); */
                            transition: all 0.3s ease;
                            overflow: hidden;

                            &::after {
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                content: '';
                                background: linear-gradient(135deg, #ff8c5a 0%, #FFA07A 100%);
                                position: absolute;
                                opacity: 0;
                                transition: opacity 0.3s ease;
                                z-index: -1;
                            }

                            &:hover {
                                /* background: linear-gradient(135deg, #FFA07A 0%, #ff8c5a 10%); */
                                transform: translateY(-3px);
                                box-shadow: 0 0.5px 15px #ffa07a50;
                                z-index: 1;

                                &::after {
                                    opacity: 1;
                                }
                            }

                            &:active {
                                transform: translateY(0);
                            }
                        }

                    }
                }
            }
        }
    }


    footer {
        width: 95%;
        padding-block: clamp(0.5rem, 2.4vw, 0.75rem);
        font-size: clamp(0.5rem, 4vw, 0.75rem); /*OR before= clamp(0.5rem, 4vw, 0.9rem)*/
        border-radius: clamp(0.5rem, 2.4vw, 0.75rem) clamp(0.5rem, 2.4vw, 0.75rem) 0 0;
    }
}

@keyframes slide {
0% { transform: translateX(0); }
20% { transform: translateX(calc(-100% - 35px)); }
40% { transform: translateX(calc(-200% - 35px * 2)); }
60% { transform: translateX(calc(-300% - 35px * 3)); }
80% { transform: translateX(calc(-400% - 35px * 4)); }
100% { transform: translateX(calc(-400% - 35px * 4)); }
75% { transform: translateX(calc(-300% - 35px * 3)); }
50% { transform: translateX(calc(-200% - 35px * 2)); }
25% { transform: translateX(calc(-100% - 35px)); }
5% { transform: translateX(0); }
/* 0% { transform: translateX(calc(-100% - 35px)); } */
}


/* For screens smaller range 301px and 385px */
@media (301px <= width <= 385px) {
    .toggle-container {
        width: 3rem !important;
        height: 1.75rem !important;

        .toggle-button {
            width: 20.34px !important;
            height: 100% !important;

            &.active {
                transform: translateX(20.16px) !important;
            }
        }
    }

    #Introduction-Awards, #Introduction-Blog {
        .title {
            &::after {
                left: 47%;
            }
        }
    }

    .carouselAwards {
        .card {
            min-block-size: 375px !important;
            &:hover {
                .card-picture {
                    transform: scaleY(1.03) !important;
                }
            }
        }
    }

    .stat-item {
        height: 40px !important;
        white-space: wrap !important;
    }

    #Introduction-WhatIuse {
        .title {
            font-size: clamp(1.13rem, 4.99vw, 1.2rem) !important;

            &::after {
                bottom: 20px !important;
            }
        }

    }

    .Container-carousel {
        block-size: 200px !important;
    }
}

/* For screens smaller than 300px */
@media (width <= 300px) {
    .Container-buttons {
        width: clamp(60px, 30vw, 90px) !important;

        .toggle-container {
            /* width: 32px;
            height: 32px; */
            padding: 3px !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;

            .toggle-button {
                width: 100% !important;
                height: 100% ;
                padding: 0 !important;
                font-size: x-small !important;

                &.active {
                    transform: translateX(0px) !important;
                }
            }
        }
    }

    #carousel-container {

        .carouselAwards {
            max-height: 350px;
            .card {
                min-block-size: 300px;
                max-block-size: 350px !important;
    
                &:hover > .card-picture {
                    transform: scaleY(1.03) !important;
                }

                .card-picture {
                    min-height: 43% !important;

                    img {
                        block-size: auto;
                        min-block-size: 150px !important;
                    }
                }
            }

        }
    }

    .stat-item {
        height: 50px;
        white-space: wrap !important;
    }

    #Introduction-WhatIuse {
        .title {
            font-size: 1.13rem !important;

            &::after {
                bottom: 20px !important;
            }
        }
    }

    .Container-carousel {
        block-size: clamp(150px, 66.67vw, 200px) !important;
    }

    .project-card {
        img {
            width: clamp(80px, 40vw, 120px);
        }
    }

    input, select, textarea {
        text-overflow: ellipsis;
    }

    @media (width <= 251px) {
        section {
            .overview-content {
                width: 100%;
            }
            .content-buttons  {
                justify-content: space-evenly !important;
            }

            div#Container-SocialMedia {
                justify-content: space-between !important;
                gap: 0;
            }
        }

        input, textarea {
            &::placeholder {
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

